<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="347c16f3-1956-48bb-ab9d-998cae8809b3" Alias="articleList" Level="2">
  <Info>
    <Name>Article List</Name>
    <Icon>icon-thumbnail-list color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="a50c4716-5513-43b0-a5ee-dd48f0e26e30">contentControls</Composition>
      <Composition Key="acb60269-1c45-4bb6-9bca-5b7928741875">headerControls</Composition>
      <Composition Key="c46811f0-cca8-4518-b57b-b43f76a7284c">mainPageControls</Composition>
      <Composition Key="79c64b58-2fb5-4249-be8a-315b6633b5ff">sEAOControls</Composition>
      <Composition Key="dbbf77ae-5bb5-4833-a4d6-8d2767bb1f25">visibilityControls1</Composition>
    </Compositions>
    <DefaultTemplate>articleLists</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b5a614ab-ba96-49e1-b0de-f18366631eea">articleLists</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="58650677-68f8-4b81-bf2d-932d5926b992" SortOrder="0">article</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>