<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="58650677-68f8-4b81-bf2d-932d5926b992" Alias="article" Level="2">
  <Info>
    <Name>Article</Name>
    <Icon>icon-article color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="7574c82b-9e4e-4c50-a7fc-1865dd73adcc">articleControls</Composition>
      <Composition Key="a50c4716-5513-43b0-a5ee-dd48f0e26e30">contentControls</Composition>
      <Composition Key="acb60269-1c45-4bb6-9bca-5b7928741875">headerControls</Composition>
      <Composition Key="c46811f0-cca8-4518-b57b-b43f76a7284c">mainPageControls</Composition>
      <Composition Key="79c64b58-2fb5-4249-be8a-315b6633b5ff">sEAOControls</Composition>
      <Composition Key="dbbf77ae-5bb5-4833-a4d6-8d2767bb1f25">visibilityControls1</Composition>
    </Compositions>
    <DefaultTemplate>article</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d449410f-03b2-43b1-8227-bbfe87cf6a04">article</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>