<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c33477f9-f33c-41e9-911e-88463f145e4e" Alias="contact" Level="2">
  <Info>
    <Name>Contact</Name>
    <Icon>icon-user color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="94cf119d-21bd-4158-850f-17bd25e44136">contactFormControls</Composition>
    </Compositions>
    <DefaultTemplate>contact</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="820f7255-c620-4c79-a146-c56f0ae8bddb">contact</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c1614de6-a496-4087-996a-077b487752ce</Key>
      <Name>Main Image</Name>
      <Alias>mainImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Result Messages</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Result Messages</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>