<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="94cf119d-21bd-4158-850f-17bd25e44136" Alias="contactFormControls" Level="2">
  <Info>
    <Name>Contact Form Controls</Name>
    <Icon>icon-defrag color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Composition</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4af883bb-ba66-47e0-8a9b-b27d277680e7</Key>
      <Name>Error Message</Name>
      <Alias>errorMessage</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter an error message]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Result Messages</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>dc687a77-97a9-442c-9fdd-fbaf37954329</Key>
      <Name>Success Message</Name>
      <Alias>successMessage</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter a success message]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Result Messages</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Result Messages</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>