<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="61ee85c2-33cf-42c4-9254-58e9450419f1" Alias="content" Level="2">
  <Info>
    <Name>Content</Name>
    <Icon>icon-umb-content color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="a50c4716-5513-43b0-a5ee-dd48f0e26e30">contentControls</Composition>
      <Composition Key="acb60269-1c45-4bb6-9bca-5b7928741875">headerControls</Composition>
      <Composition Key="c46811f0-cca8-4518-b57b-b43f76a7284c">mainPageControls</Composition>
      <Composition Key="79c64b58-2fb5-4249-be8a-315b6633b5ff">sEAOControls</Composition>
      <Composition Key="dbbf77ae-5bb5-4833-a4d6-8d2767bb1f25">visibilityControls1</Composition>
    </Compositions>
    <DefaultTemplate>content</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="03a4956b-c1c1-49da-a5a1-bf2211a3652e">content</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>