<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="235771a7-c250-4363-82b9-0d68772dedd4" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="a50c4716-5513-43b0-a5ee-dd48f0e26e30">contentControls</Composition>
      <Composition Key="cff137cd-f961-4a3c-b581-da94cae57850">footerControls</Composition>
      <Composition Key="acb60269-1c45-4bb6-9bca-5b7928741875">headerControls</Composition>
      <Composition Key="c46811f0-cca8-4518-b57b-b43f76a7284c">mainPageControls</Composition>
      <Composition Key="79c64b58-2fb5-4249-be8a-315b6633b5ff">sEAOControls</Composition>
    </Compositions>
    <DefaultTemplate>home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b766ffda-95a3-4286-b978-a1e5c5dae5e4">home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="61ee85c2-33cf-42c4-9254-58e9450419f1" SortOrder="0">content</ContentType>
    <ContentType Key="c33477f9-f33c-41e9-911e-88463f145e4e" SortOrder="1">contact</ContentType>
    <ContentType Key="347c16f3-1956-48bb-ab9d-998cae8809b3" SortOrder="2">articleList</ContentType>
    <ContentType Key="fa695837-79ec-4055-8dfe-6a43361ea74c" SortOrder="3">error</ContentType>
    <ContentType Key="fc568fc5-50b7-4b5e-a427-2d96d920b321" SortOrder="4">search</ContentType>
    <ContentType Key="2b720de6-b76a-4444-af7c-859fa1f5cbf7" SortOrder="5">xMLSitemap</ContentType>
    <ContentType Key="04169b8c-0c5d-42e8-987b-33063928c1ed" SortOrder="6">redirect</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>