<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="04169b8c-0c5d-42e8-987b-33063928c1ed" Alias="redirect" Level="2">
  <Info>
    <Name>Redirect</Name>
    <Icon>icon-redo color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="8146f021-8d7f-4ea2-9f42-0220fbf53812">redirectControls</Composition>
      <Composition Key="dbbf77ae-5bb5-4833-a4d6-8d2767bb1f25">visibilityControls1</Composition>
    </Compositions>
    <DefaultTemplate>Redirect</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1dab20cc-3a7d-415d-bdbc-19098c4ddd7a">Redirect</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="04169b8c-0c5d-42e8-987b-33063928c1ed" SortOrder="0">redirect</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>