<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dbbf77ae-5bb5-4833-a4d6-8d2767bb1f25" Alias="visibilityControls1" Level="2">
  <Info>
    <Name>Visibility Controls</Name>
    <Icon>icon-defrag color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Composition</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b92d2d3f-3406-419b-8dc4-70351f33f732</Key>
      <Name>Hide from XMLSitemap</Name>
      <Alias>hideFromXMLSitemap</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hide this page from the XML Sitemap]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Visibility</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>94afa794-487c-44ba-9584-04d820cb36db</Key>
      <Name>Umbraco Navi Hide</Name>
      <Alias>umbracoNaviHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hide this page from navigation and search result]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Visibility</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Visibility</Caption>
      <SortOrder>5</SortOrder>
    </Tab>
  </Tabs>
</ContentType>