<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2b720de6-b76a-4444-af7c-859fa1f5cbf7" Alias="xMLSitemap" Level="2">
  <Info>
    <Name>XML Sitemap</Name>
    <Icon>icon-sitemap color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="dbbf77ae-5bb5-4833-a4d6-8d2767bb1f25">visibilityControls1</Composition>
    </Compositions>
    <DefaultTemplate>xMLSitemap</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bae5edc7-f891-4252-8d09-e552aea60053">xMLSitemap</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>