@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = null;
}

<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>The Umbraco Master Page</title>
</head>

<body>
    @RenderBody()
    <h1>Master Page</h1>
</body>
</html>