<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d1a63c4d-c972-4e65-99f1-911e37baffd6" Alias="Basic Content Control - Title - Textarea" Level="1">
  <Info>
    <Name>Basic Content Control - Title - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>