<?xml version="1.0" encoding="utf-8"?>
<DataType Key="623d3cbd-7d33-4a8a-bef0-bfbe34b0bd89" Alias="Basic Content Control - Color Name - Dropdown" Level="1">
  <Info>
    <Name>Basic Content Control - Color Name - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "White"
    },
    {
      "id": 2,
      "value": "Black"
    },
    {
      "id": 3,
      "value": "Yellow"
    },
    {
      "id": 4,
      "value": "Orange"
    },
    {
      "id": 5,
      "value": "Pink"
    },
    {
      "id": 6,
      "value": "Purple"
    }
  ]
}]]></Config>
</DataType>