<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3d321f6c-fc7d-4a72-aed3-f7fabb925f5b" Alias="Basic Content Control - Main Content - Textarea" Level="1">
  <Info>
    <Name>Basic Content Control - Main Content - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>