<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2f12731a-8212-42f8-a60b-cb34df6a94cd" Alias="Icon Link List" Level="1">
  <Info>
    <Name>Icon Link List</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "iconLinkItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{iconClass}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>