<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4b03788c-6451-479e-97e9-874d230baf29" Alias="Text custom" Level="1">
  <Info>
    <Name>Text custom</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 5
}]]></Config>
</DataType>