@inherits UmbracoViewPage

@{
    var image = Model.Value<IPublishedContent>("mainImage");
}

<!-- Page Header -->
<header class="masthead " style="@(!string.IsNullOrWhiteSpace(image.Url) ? "background-image: url('" + image.Url +"')" : null)">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Contact Us</h1>             
                </div>
            </div>
        </div>
    </div>
</header>